<ion-content padding text-center>
  <ion-item no-lines>
    <ion-icon name="home" item-left></ion-icon>
    <h2>Smart House</h2>
  </ion-item>
  <form [formGroup]="login" (ngSubmit)="doLogin(); $event.preventDefault()">
    <ion-item>
      <ion-input formControlName="email" placeholder="E-mail" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="notFound">Usuário ou senha incorretos</p>
    <button ion-button block type="submit" *ngIf="!isLoading; else load">ENTRAR</button>
    <ng-template #load>
      <ion-spinner></ion-spinner>
    </ng-template>
  </form>
</ion-content>
